@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">We&rsquo;ll be right back!</h1> 
    <p>Sorry for the inconvenience. We&rsquo;re performing some maintenance at the moment.</p>
    <p>While you wait you can always follow us on <a href="https://www.instagram.com/cruiseamericarv/" target="_blank">Instagram</a> for great travel ideas, otherwise we&rsquo;ll be back up shortly!</p>
    <p>&mdash; The Cruise America Team</p>
</div>